.card{
	display: flex;
	background-color: #f2e9da;
	color: black;
	justify-content: space-around;
	align-items: center;
	
	margin: 10px;
	flex-basis: 280px;
	flex-grow: 1;
	}

.card img{
	width: 80px;
	height: 80px;
}
